DATABASE_URL="postgresql://postgres.gbihbcrmxsvfsmkllhsi:GymGate2026@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.gbihbcrmxsvfsmkllhsi:GymGate2026@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="your-secret-key-change-in-production"
NODE_ENV=development
API_PORT=3000